    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <div class="footer">
        <div class="icons">
            <a href="#"> <i class="fab fa-facebook-f icon"></i></a>
            <a href="#"> <i class="fab fa-twitter icon"></i></a>
            <a href="#"> <i class="fab fa-instagram icon"></i></a>
        </div>
        <p>© The Yoghurt Shop 2019 | 

           <a href="#" >NOOR MD GOLAM</a></p>
    </div>
</body>

</html>