<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Glegoo|Jura|Open+Sans+Condensed:300|Pacifico|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
    <title>The Yoghurt Shop - Bangladesh's Best Yoghurt</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><span class="Yoghurt">BDYOGHURT</span> <span class="shop">SHOP</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">OUR STORY </a>
                </li>
                <li class="nav-item dropbtn dropdown">
                    <a class="nav-link  margin" href="#">
                        PRODUCT
                    </a>
                    <div class="dropdown-content">
                        <a class="" href="#">SUPERMARKET FLAVOUSR</a>
                        <a class="" href="#">YOGHURT SHOP FLAVOURS</a>
                        <a class="" href="#">FROZEN YOGHURT</a>
                        <a class="" href="#">OTHER GOODIES</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link  margin" href="#">HELATH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margin" href="#">CAREERS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margin" href="#">FIND US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link margin" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook-f icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram icon"></i></a>
                </li>
            </ul>
        </div>
    </nav>

    