<%- include("header")-%>

<div class="images">
    <div class="detal_img detail_img_src"></div>
    <div class="row">
        <div class="col-lg-2 introImage">
            <img src="./images/img.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img1.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img2.jpg" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img3.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img4.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img15.webp" height="100%" width="100%" alt="img">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 introImage">
            <img src="./images/img5.jpg" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img6.jpg" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img7.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img8.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img9.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img16.webp" height="100%" width="100%" alt="img">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 introImage">
            <img src="./images/img10.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img11.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img12.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img13.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img14.webp" height="100%" width="100%" alt="img">
        </div>
        <div class="col-lg-2 introImage">
            <img src="./images/img17.jpg" height="100%" width="100%" alt="img">
        </div>
    </div>
</div>
<div class="testimonial">
    <div class="head">
        <h1 class="bangladesh">Bangladesh's</h1>
        <h1 class="best">BEST YOGHURT</h1>
        <P>Since we started in Adelaide Central Market all those years ago we've remained on a mission to make
            Bangladesh's Best Yoghurt. But what makes our yoghurt so special? Find out below.</P>
    </div>
    <div class="logo">
        <img src="./images/logo1.webp" alt="logo">
    </div>
    <div class="button">
        <button type="button" class="btn btn-outline-dark btn-lg"><a href=""> PRODUCTS</a></button>
        <button type="button" class="btn btn-outline-dark btn-lg"><a href="">OUR STORY</a></button>
    </div>
</div>
<div class="details">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="card1 bg-image "></div>
            <div class="bg-text">
                <h1>OUR YOGHURT</h1>
                <p>Learn more about our wide range of yoghurt flavours.</p>
                <button type="button">LEARN MORE</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card2 bg-image "></div>
            <div class="bg-text">
                <h1>OUR STORY</h1>
                <p>Learn the story of how The Yoghurt Shop began.</p>
                <button type="button">LEARN MORE</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card3 bg-image "></div>
            <div class="bg-text">
                <h1>RECIPES</h1>
                <p>Check out some tasty & classic recipe ideas.</p>
                <button type="button">LEARN MORE</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card4 bg-image "></div>
            <div class="bg-text">
                <h1>CAREERS</h1>
                <p>Want to join the team?<br>Learn about the yoghurt shop</p>
                <button type="button">LEARN MORE</button>
            </div>
        </div>
    </div>
    <div class="emailSection">
        <h1>Join The Family</h1>
        <p>Sign up here for seasonal updates, delicious recipes & more</p>
        <form action="" method="post">
            <input type="text" name="email" id="" placeholder="Email Address" autocomplete="off">
            <button type="submit">SUBMIT</button>
        </form>
    </div>
    
</div>
<%- include("footer")-%>