<%-include("./partial/header")-%>

<div class="story">
    <div class="storyHead">
            <h1 class="bangladesh"><i>Our Story</i></h1>
    </div> 
    <img src="" alt="" width="100%" height="50%" srcset="">
    
    <div class="row">
        <div class="col-lg-6  col-md-6">
            <p class="description">Back in 2003, a man opened his first stall in the Adelaide Central Market. The idea was simple, sell the best yoghurt that he'd ever tasted.
                    That man was Australian businessman Simon Reynolds. And the stall was The Yoghurt Shop. Now one of the most popular and loved yoghurt brands across Australia serving over 25 million tubs of yoghurt, and counting.
                    Today, Australia can’t get enough of The Yoghurt Shop. The brand’s winning combination of strained greek yoghurt, topped with delicious and fresh toppings.</p>
        </div>
        <div class="col-lg-6  col-md-6">
            <img src="./images/img1.jpg" class="storyImg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6  col-md-6">
            <img src="./images/img3.jpg" class="storyImg" alt="">
        </div>
        <div class="col-lg-6  col-md-6">
            <p class="description">So on a trip to the Gold Coast back in 2001, something caught Simon’s attention. While having lunch with a friend he noticed his Aunt, Maria, was making something in the kitchen. She was making her own Greek yoghurt.</br>
            The yoghurt was thick, creamy, and totally different to anything in Australia, where the yoghurt market was uninspiring and unhealthy.</br>
            So once back home in Adelaide, Simon and business partner Con developed a retail concept different to anything the world had seen. The Yoghurt Shop would offer a unique customer experience around happy, healthy living.</p>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-6  col-md-6">
                    <p class="description">So on a trip to the Gold Coast back in 2001, something caught Simon’s attention. While having lunch with a friend he noticed his Aunt, Maria, was making something in the kitchen. She was making her own Greek yoghurt.</br>
                        The yoghurt was thick, creamy, and totally different to anything in Australia, where the yoghurt market was uninspiring and unhealthy.</br>
                        So once back home in Adelaide, Simon and business partner Con developed a retail concept different to anything the world had seen. The Yoghurt Shop would offer a unique customer experience around happy, healthy living.</p>
            </div>
            <div class="col-lg-6  col-md-6">
                <img src="./images/img4.jpg" class="storyImg" alt="">
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6  col-md-6">
                    <img src="./images/img6.jpg" class="storyImg" alt="">
                </div>
                <div class="col-lg-6  col-md-6">
                        <p class="description">So on a trip to the Gold Coast back in 2001, something caught Simon’s attention. While having lunch with a friend he noticed his Aunt, Maria, was making something in the kitchen. She was making her own Greek yoghurt.</br>
                            The yoghurt was thick, creamy, and totally different to anything in Australia, where the yoghurt market was uninspiring and unhealthy.</br>
                            So once back home in Adelaide, Simon and business partner Con developed a retail concept different to anything the world had seen. The Yoghurt Shop would offer a unique customer experience around happy, healthy living.</p>
                </div>
            </div>
</div>

<%-include("./partial/footer")-%>