<%- include("partial/header"); -%>

<div class="register">
    <h1>Register here</h1>
        <form action="/register" method="POST">
            <div class="form-row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="firstname" placeholder="First Name">
                </div>
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="form-row">
                <div class="col-lg-12 padding-top4">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
              </div>
              <div class="form-row">
                    <div class="col-lg-12 padding-top4">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                  </div>
              <div class="form-row">
                <div class="col-lg-12 padding-top4">
                  <button type="submit" name="button" class="btn btn-lg btn-secondary" style="padding: 2% 1%;font-size:1.3rem;font-weight:700; width:100%">Submit</button>
                </div>
              </div>
          </form>
      <h2>Already have an account?</h2><a href="/login" class="btn btn-secondary">Login Here</a>
</div>

<%- include("partial/footer"); -%>