<%- include("header") -%>

<div class="products">
    <div class="row">
        <div class="col-lg-2">
            <a href="/product1"><img src="./images/prodct1.webp" class="productImage" alt=""></a>
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct2.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct3.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct4.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct5.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct6.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <img src="./images/prodct7.webp" class="productImage " alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct8.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct9.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct10.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct11.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct12.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <img src="./images/prodct13.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct14.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct15.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct16.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct17.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct18.webp" class="productImage" alt="">
            <p>HONEY SPACE GRANOLA</p>
        </div>
    </div>
</div>


<%- include("footer") -%>