<%- include("partial/header") -%>

<div class="products">
    <div class="row">
        <div class="col-lg-2">
            <a href="/product1"><img src="./images/prodct1.webp" class="productImage" alt=""></a>
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <a href="/product2"><img src="./images/prodct2.webp" class="productImage" alt=""></a>
            <p class="productName">BELGIUM TRIPLE CHOCOLATE</p>
        </div>
        <div class="col-lg-2">
            <a href="/product3"><img src="./images/prodct3.webp" class="productImage" alt=""></a>
            <p class="productName">ANCIENT SUPERFOODS</p>
        </div>
        <div class="col-lg-2">
            <a href="/product4"><img src="./images/prodct4.webp" class="productImageCup" alt=""></a>
            <p class="productName">CLASSIC GREEK YOUGHURTS</p>
        </div>
        <div class="col-lg-2">
            <a href="/product5"><img src="./images/prodct5.webp" class="productImageCup" alt=""></a>
            <p class="productName">NAUGHTY NATURAL GREEK</p>
        </div>
        <div class="col-lg-2">
            <a href="/product6"><img src="./images/prodct6.webp" class="productImageCup" alt=""></a>
            <p class="productName">33% FAL FREE SLIM GREEK</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <img src="./images/prodct7.webp" class="productImageCup " alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct8.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct9.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct10.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct11.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct12.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <img src="./images/prodct13.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct14.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct15.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct16.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct17.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
        <div class="col-lg-2">
            <img src="./images/prodct18.webp" class="productImageCup" alt="">
            <p class="productName">HONEY SPACE GRANOLA</p>
        </div>
    </div>
</div>


<%- include("partial/footer") -%>