<%- include("partial/header"); -%>
 <div class="productFeature">
     <div class="row">
        <div class="col-lg-6 col-xl-6 col-sm-12">
            <div class="prod">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner prodImage">
                      <div class="carousel-item active" style="left:200px">
                        <img src="./images/prodct1.webp" width="300px" height="400px"  class="" alt="...">
                      </div>
                      <div class="carousel-item" style="left:200px">
                        <img src="./images/prodct2.webp" width="300px" height="400px"  class="" alt="...">
                      </div>
                      <div class="carousel-item" style="left:200px">
                        <img src="./images/prodct3.webp" width="300px" height="400px"  class="" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    </a>
                  </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
            <div class="prodDetails">
                <h3 class="ingredientHead">HONEY SPACE GRANOLA</h3>
                <p class="ingredientPara">Classic yoghurt (82%) [whole milk, milk solids, sucrose, live probiotic cultures -
                    lactobacillus,
                    acidophilus & bifidus], honey spice granola (18%) [wholegrain oats, ironbark honey, organic coconuts,
                    sunflower kernels, sultanas, walnuts, almonds, pumpkin seed kernels, sunflower oil, spice</p>
                    <p style="padding-top: 30px"><b>Price:  </b   >10$</p>
                <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
 </div>
<%- include("partial/footer") -%>